.fullWidht {
    width: 100%
}
.marginRight20{
    margin-right:20px;
}
._u {
    text-transform: uppercase
}

.marginTop50 {
    margin-top: 50px
}
.marginBottom100 {
    margin-bottom: 100px;
}


.verticalCenter{
    vertical-align: middle;
}
.navbar-light .navbar-nav .nav-link, .dark_grey {
    color: #303030
}

.item_title {
    font-weight: 900;
}

h2.title{
    font-weight: 900;
    margin: 20px 0;
}
.subhead_product {
    font-size: 12px;
}

.price {
    font-size: 30px;
    font-weight: 200;
    margin: 30px 0;
}


.section_container {
    margin: 50px 40px;
}

.section_hero {
    height: 800px;
    background: url('images/man.jpeg') 100% 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.section_hero #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.hero_cta {
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: right;
    z-index: 9;
}

.hero_title {
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}

/*Bootstrap overrides*/
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 0 20px;
}

.btn {
    background-color: #dbfb00;
    color: #303030;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 0;
}

.btn-medium{
    min-width: 180px;
}
.btn-large{
    min-width: 280px;
}

.navbar {
    border-bottom: 1px solid #eaeaea;
}

.flex_box{
    align-items: stretch;
    display: flex;
}

#img_1{
    display: inline-block;

    background: url('images/running.jpeg') left center no-repeat;
    background-size: cover;
}
#img_2{
    display: inline-block;
    background: url('images/shoe2.jpeg') center center no-repeat;
    background-size: cover;
}

.small_img{
    width:200px;
    height:280px;
    margin: 40px 20px;
}
.big_img{
    width:280px;
    height:380px;
    margin: 0 20px;
}


/*responsivess*/

@media (max-width: 600px) {
.mobileMargiTop40{
    margin-top: 40px;
}
    .btn-medium{
        margin: 10px auto;
        width:100%;
    }
}

@media (min-width: 600px) and (max-width: 900px) {

}


@media (min-width: 900px)  and (max-width: 1200px) {
    .navbar {
        padding: 40px 0;
    }
}


@media (min-width: 1200px) {
    .navbar {
        padding: 40px 0;
    }
}